.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: auto;
}
.thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3d0142;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgba(29, 29, 29, 0.44);
}
.thumb.active {
  background-color: rgb(128, 118, 126);
}
.track {
  position: relative;
  background: #ddd;
}
.track.track-0 {
  background: #e1aaf7;
}
.horizontal-slider .track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .thumb {
  top: 12px;
  width: 15px;
  outline: none;
  height: 8px;
  line-height: 45px;
}
